{% extends "base.html" %}

{% block content %}
	<h1> Cook list</h1>
  <form method="get">
    <label>
      <input type="text" name="search" placeholder="Search by username" value={{ request.GET.search }}>
    </label>
    <input type="submit">
  </form>
  <a href={% url "kitchen:cook-create" %}>Create cook</a>
  {% if cook_list %}
    <ul>
      {% for cook in cook_list %}
        <li>
          <a href="{% url "kitchen:cook-detail" cook.pk %}">{{ cook.username }}</a>
        {% if request.user.username == cook.username %}
          (Me)
        {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    Don't have cooks
  {% endif %}
{% endblock %}
