{% extends "base.html" %}

{% block content %}
  <h1>Dish list</h1>
  <form method="get">
    <label>
      <input type="text" name="search" placeholder="Search by name" value={{ request.GET.search }}>
    </label>
    <input type="submit">
  </form>
  <a href={% url "kitchen:dish-create" %}>Create dish</a>
  {% if dish_list %}
    <ul>
      {% for dish in dish_list %}
        <li>
          <a href="{% url "kitchen:dish-detail" dish.pk %}">{{ dish }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    Don't have dishes
  {% endif %}
{% endblock %}
